$font-color: 888;
@mixin fontTitle{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
}
@mixin flex-center{
    display: flex;
    align-items: center;
}
body {
    position: relative;
    background-color: #30336b;
    input, h1, h2, h3, h4{
        margin: 0;
    }
}
.menu-navbar{
    @include flex-center;
    justify-content: space-between;
    padding: 0px 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.65);
    .navbar-left{
        @include flex-center;
        width: 40%;
        background-color: rgba(162, 255, 0, 0.474);
        .logo-navbar{
            @include flex-center;
            img {
                width: 60px;
                height: 60px;
            }
            h4{
                @include fontTitle;
                color: $font-color;
            }
        }
        .search-navbar{
            position: relative;
            @include flex-center;
            input{
                
            }
        }
    }
    .navbar-right{
        @include flex-center;
        width: 40%;
        background-color: rgba(0, 251, 255, 0.5);
    }
    
    
}