$color-primary: #C40000;
$color-border: #CCCCCC;
$height-header: 80px;

// @mixin font-face {
//     font-family: 'SVN-Gilroy';
//     src: url('../fonts/SVN-Gilroy\ Bold.otf');
// }

@mixin fontHeader{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
}
@mixin modal{
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.095);
    z-index: 2;
}
@mixin flex-center{
    display: flex;
    align-items: center;
}
@mixin hover{
    color: $color-primary;
    cursor: pointer;
}
body {
    position: relative;
    box-sizing: border-box;
    input, h1, h2, h3, h4, p{
        margin: 0;
    }
    p{
        font-size: 18px;
    }
}
