$color-primary: #C40000;
$color-border: #CCCCCC;
$border-btn: #E4E4E4;
$color-btn: #770303;
$color-header: #212121;

@mixin fontHeader{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $color-header;
}
@mixin movePage{
    width: 40px;
    height: 40px;
    color: white;
}
@mixin fontInfoImg{
    height: 31px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
@mixin modal{
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.095);
    z-index: 2;
}
@mixin flexCenter{
    display: flex;
    align-items: center;
}
@mixin hover{
    color: $color-primary;
    cursor: pointer;
}
body {
    position: relative;
    box-sizing: border-box;
    input, h1, h2, h3, h4, p{
        margin: 0;
    }
}
