footer{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #000000;
    
    p{
        @include fontHeader;
        font-weight: 500;
        color: white;
        height: 20px;
        text-align: center;
        margin: 37px auto 37px;
    }
}
