.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.65);

    .container{
        @include flex-center;
        justify-content: space-between;
        padding: 25px 0;
        
        .header-navbar, .header-search{
            display: none;
        }

        .header-left{
            @include flex-center;
            width: 45%;
            .logo-header{
                margin-right: 20px;
                cursor: pointer;
                // @include flex-center;
                // img {
                //     width: 60px;
                //     height: 60px;
                // }
                // h4{
                //     margin-left: 5px;
                //     @include fontHeader;
                // }
            }
            .search-header{
                position: relative;
                width: 60%; 
                @include flex-center;
                input{
                    width: 100%;
                    padding: 6px 15px;
                    border: 0px;
                    border-radius: 5px;
                }
                i{
                    position: absolute;
                    right: 5%;
                }
            }
        }
        .header-right{
            @include flex-center;
            justify-content: space-between;
            width: 45%; 

            h4{
                @include fontHeader;
                font-weight: 700;
                font-size: 16px;
                line-height: 29px;
            }
            h4:hover{
                @include hover;
            }
            .header-tag{
                @include flex-center;
                justify-content: space-between;
                
                button{
                    color: white;
                    padding: 8px 15px;
                    margin-right: 30px;
                    border: 0px;
                    border-radius: 8px 12px;
                    background-color: #770303;
                }
            }
            .header-account{
                @include flex-center;
                flex:1;
                justify-content: flex-end;
                i{
                    font-size: 150%;
                    margin-left: 10px;
                }
            }
        }
    }
}
